<a id='back-button'>Back</a>

<h1> Your Trail Choice</h1>

<div class='trail'>
<ul class='trail-list'>
		<li id="pic"><img src="' + <%= @trail.pic %> + '"></li>
		<li id="name"><%= @trail.name %></li>
		<li id="city"><%= @trail.city %>, <%= @trail.state %></li>
		<li id="type1">Activity: <%= @trail.type1 %></li>
		<li id="length">Trail Length: <%= @trail.length %> miles</li>
		<li id="description"><%= @trail.description %></li>
</ul>
</div>

<form>
	<label>Like</label><input type="checkbox">
</form>


<form>
	<input type="textarea" placeholder="comment">
	<input type="submit">
</form>


<div id="your-trail">
	<ul id="the-trail">
	</ul>

</div>

<iframe
	id="trails-map-dir"
  width="450"
  height="450"
  frameborder="0" style="border:0"
  src="">
</iframe>