<a href='/'>Back</a>

<h1> <%= @trail.name %></h1>

<iframe
	id="trail-map"
  width="450"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAjoKTY16EkIxIqgVcBpo5kpXgDsz0sJGk&center=<%= @trail.lat %>,<%= @trail.lon %>&zoom=14&maptype=satellite">
</iframe>

<div id='trail'>
	<ul id='trail-list'>
			<li id="pic"><img src="<%= @trail.pic %>"></li>
			<li id="name"><%= @trail.name %></li>
			<li id="city"><%= @trail.city %>, <%= @trail.state %></li>
			<li id="type1">Activity: <%= @trail.type1.capitalize %></li>
			<li id="length">Trail Length: <%= @trail.length %> miles</li>
			<li id="description"><%= @trail.description %></li>
	</ul>
</div>

<div id="like">
	<ul id="votes">
		<li id="upbutton"><%= button_to "upvote", like_trail_path(@trail), method: :put %></li>
		<li id="downbutton"><%= button_to "downvote", dislike_trail_path(@trail), method: :put %></li>
		<li id="votescore">Vote Count: <%= @trail.score %></li>
	</ul>
</div>

<form id="comment-form" method="post">
	<textarea id="comment" name="comment">Comment/questions about this trail?
	</textarea><br>
	<input type="submit" value="Submit" />
</form>

<div id="comment-list">
	<h3>Comments</h3>
	<ul>
		<li>
			<% @comments.each do |comment| %>
				<%= comment.body %>
				<% poster = comment.user_id %>
				<% user = User.find(poster) %>
				<%= user.name %>
			<% end %>
		</li>
	</ul>
</div>
