<!DOCTYPE html>
<html>
<head>
  <title>Trlstr</title>
  	<meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>
<body>
<div class="wrap">
	<header>
		<div id="current_user">
			<% if current_user %>
				<img id="current_user_pic" src="<%= current_user.pic %>">
				Welcome <%= current_user.name %>
				<%= link_to "Sign Out", signout_path %>
			<% else %>
				<%= link_to "Sign in with Twitter", "/auth/twitter" %>
			<% end %>
		</div>
		<h1>Trlstr</h1>
	</header>

<%= yield %>

	<footer>
		<h5><i class="fa fa-copyright"></i> James R. Corey</h5>
	</footer>
</div>

</body>
</html>
